
/*----clearfix---- */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/*----/clearfix----*/
/*----reset-----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*----/reset----*/
body {
  font-size: 1.125rem;
  font-weight: 500;
  color: #33475b;
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
}
/* body > * {
  padding: 0 25%;
} */
h1{
  font-size: 2.875rem;
}
h1, h2, h3, h4, h5, h6 {
    margin: .5em 0;
}

p {
  font-size: 1.125rem;
  line-height: 1.61111em;
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: #32495b;
  text-decoration: none;
}

a:hover {
  color: #007a8c;
  text-decoration: underline;
}
.link-buttons-orange {
  background-color: #fe775a;
  color: white;
  padding: 25px;
  display: inline-block;
  border-radius: 5px;
}
.link-buttons-orange:hover {
  background-color: #ffbcac;
  text-decoration: none;
  color: white;
}

.left-float {
  float:left;
}

.right-float {
  float: right;
}
.wrap-center {
  margin:auto;
  width: 70%;
}
.background-white {
  background-color: white;
}

section.service, section.home-page-hero {
  padding: 50px 0;
}
/*----HEADER----*/
header {
  height: 80px;
  background-color: #f4f9fd;
  border-bottom: 1.5px solid #33475b;
  line-height: 80px;
  vertical-align: middle;
}
.header-right > div,.header-left > div {
 display: inline-block;

}
/*---header-left---*/
.header-left {
  height: 100%;
  font-size:0;
}

.header-left a {
  width: 130px;
  font-size: 1.125rem;
  display: inline-block;
  line-height: 1.125rem;
  border-right: 2px solid #33475b;
}
.contact-use a {
  border-right: none;
  text-align: right;
}
.page-languages a i.fa-globe {
  margin-right: 5px;
}
span.languages::after {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  color:inherit;
  font-weight: 900;
  font-size: 12px;
  margin-left: 2px;
}
/*---/header-left---*/
/* ----header-right---- */
.header-right > div {
  margin-left: 20px;
}
.header-right-search i {
  color: #03a7bf;
}
.header-right-login a, .header-right-getfree a.link-buttons-orange {
  line-height: 40px;
  display: inline-block;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  padding: 0 10px;
}

.header-right-login a {
  border: 1px solid #fe775a;
  color:#fe775a;
}

/* ----/header-right---- */
/*----/HEADER----*/
/*---- NAV----*/
nav {
  height: 80px;
  width: 100%;
  /* position: fixed;
  top:80px; */
  position: sticky;
  top:0;
  z-index: 2;
  line-height: 80px;
  vertical-align: middle;
}
.navbar > div {
  display: inline-block;
}
/*----navbar sx---- */
.navbar .logo a {
  display: inline-block;
  line-height: 80px;
  vertical-align: middle;
  transform: translateY(10);
}
/*----navbar dx---- */
.nav-menu {
  font-size: 0;
}
#items-nav li {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 500;
  text-align:right;
  margin: 0 20px;
}
#items-nav li {
  margin-right: 0;
}
#items-nav li a:not(.not-arrow)::after {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  color:inherit;
  font-weight: 900;
  font-size: 12px;
  margin-left: 30px;
  text-decoration:none;
}
/*----/navbar dx---- */
/*----/NAV----*/
/*----MAIN----*/
.popolar-feature {
  text-transform: uppercase;
}
/*---section home page hero--*/
section.home-page-hero {
  height: 700px;
  width: 100vw;
  position: relative;
  background: #FFF4EF
 url("../img/jumbotron.png") no-repeat top right;
}

article.hero-content {
  width: 430px;
  position: relative;
  z-index: 1;
}
p.info{
  font-size: .875rem;
  line-height: 1.64286em;
}

.home-page-hero::after {
  content: "";
  height: 90px;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: #afebe4;
  bottom:0;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}
/*---/section home page hero--*/
/*---SECTON SERVICE--*/
section.service {
  width: 100%;
  background-color: aliceblue;
}
section.service article{
  text-align: center;
}
div.wrap-service img, section.conteiner-crm img {
  height: 120px;
  width: 120px;
}

ul.popolar-feature-list {
  list-style: none;
  padding: 0;
}
ul.popolar-feature-list li {
  padding-left: 1.8em;
}
ul.popolar-feature-list li::before {
  content:  "\f058";
  font-weight: 900;
  font-family:  "Font Awesome 5 Free";
  display: inline-block;
  margin-left: -1.8em;
  width: 1.8em;
  color: #fe9a84;
}
/* .popolar-feature-list ul  li:first-letter {
 text-transform: uppercase;
} why not? */
/*--integretion-service--*/

article.integretion-service p {
  padding: 0 7%;
}
/*--section crm---*/
section.conteiner-crm {
  width: 100%;
  min-width: 873px;
  height: 350px;
  padding: 5%;
}

.box-left-crm img:first-of-type {
  display: block;
}
.box-right {
  width: 80%;
}
.box-right p {
  width: 100%;
}
.popolar-feature h4 {
  width: 100%;
}
.popolar-feature hr {
  width: 63%;
  position: relative;
  border: 1px solid;
  display: inline-block;
  float: right;
  margin: 1% 0;
}

ul.popolar-list-orizontal li {
  margin-right: 40px;
  margin-top: 45px;
}
ul.popolar-list-orizontal li{
  display: inline-block;
}

/*--/section crm---*/
/*-- div contenitore servizi wrap-service--*/
.wrap-service > section {
  height: 100%;
  width:calc((100% - 100px)/3);
  min-width: 190px;
  margin: 50px 25px 0px 25px;
  padding: 30px;
}
.wrap-service > section:first-child {
  margin-left: 0;
}
.wrap-service > section:last-child {
  margin-right:0;
}
div.wrap-service {
  text-align: center;
}
div.wrap-service ul {
  text-align: left;
}
div.wrap-service p {
  height: 300px;
  min-width: 158.9px;
  border-bottom: 1px solid black;
}
.wrap-service section > ul {
  margin-bottom:50px;
}
/*--/div contenitore servizi wrap-service--*/
/*---/SECTION SERVICE--*/

/*----/MAIN----*/
