
/*----clearfix---- */
.clearfix ::after {
  content: "";
  display: table;
  clear: both;
}
/*----/clearfix----*/
/*----reset-----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*----/reset----*/
body {
  font-size: 1.125rem;
  font-weight: 500;
  color: #33475b;
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
}
/* body > * {
  padding: 0 25%;
} */
h1{
  font-size: 2.875rem;
}
h1, h2, h3, h4, h5, h6 {
    margin: .5em 0;
}

p {
  font-size: 1.125rem;
  line-height: 1.61111em;
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: #32495b;
  text-decoration: none;
}

a:hover {
  color: #007a8c;
  text-decoration: underline;
}

.left-float {
  float:left;
}

.right-float {
  float: right;
}
.wrap-center {
  margin:auto;
  width: 70%;
}

/*----HEADER----*/
header {
  height: 80px;
  background-color: #f4f9fd;
  border-bottom: 3px solid #33475b;
  line-height: 80px;
  vertical-align: middle;
}
.header-right > div,.header-left > div {
 display: inline-block;

}
/*---header-left---*/
.header-left {
  font-size:0;
}
.header-left a {
  font-size: 1.125rem;
  width: 130px;
  display: inline-block;
  line-height: 1.125rem;
  border-right: 2px solid #33475b;
}
.contact-use a {
  border-right: none;
  text-align: right;
}
.page-languages a i.fa-globe {
  margin-right: 5px;
}
span.languages::after {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  color:inherit;
  font-weight: 900;
  font-size: 12px;
  margin-left: 2px;
}
/*---/header-left---*/
/* ----header-right---- */
.header-right > div {
margin-left: 20px;
}
.header-right-search i {
  color: #03a7bf;
}
.header-right-login a, .header-right-getfree a {
  line-height: 40px;
  display: inline-block;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  padding: 0 10px;
}

.header-right-login a {
  border: 1px solid #fe775a;
  color:#fe775a;
}

.header-right-getfree a {
  background-color: #fe775a;
  color: white;
}
.header-right-getfree a:hover {
  background-color: #ffbcac;
  text-decoration: none;
}
/* ----/header-right---- */
/*----/HEADER----*/
/*---- NAV----*/
nav {
  height: 80px;
  width: 100%;
  /* position: fixed;
  top:80px; */
  position: sticky;
  top:0;
  z-index: 2;
  line-height: 80px;
  background-color: #f4f9fd;
  vertical-align: middle;
}
.navbar > div {
  display: inline-block;
}


/*----navbar sx---- */
.nav-menu {
  font-size: 0;
}
#items-nav li {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 500;
  text-align:right;
  margin: 0 20px;
}
#items-nav li a:not(.not-arrow)::after {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  color:inherit;
  font-weight: 900;
  font-size: 12px;
  margin-left: 30px;
  text-decoration:none;
}
/*----/navbar sx---- */
/*----/NAV----*/
/*----MAIN----*/
section.home-page-hero {
  height: 826px;
  width: 100vw;
  position: relative;
  padding: 50px 0;
}

img#jumbotron-img {
  width: 100%;
  min-width: 1400px;
  height: 100%;
  position: absolute;
  top:0;
}

article.hero-content {
  width: 430px;
  position: relative;
  z-index: 1;
}

.lightgreen-bar {
  height: 100px;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: #afebe4;
  bottom:0;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}


/*----/MAIN----*/
