
/*----clearfix---- */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/*----/clearfix----*/
/*----reset-----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*----/reset----*/
body {
  font-size: 1.125rem;
  font-weight: 500;
  color: #33475b;
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
}

h1{
  font-size: 2.875rem;
}
h1, h2, h3, h4, h5, h6 {
  margin: .5em 0;
}

p {
  font-size: 1.125rem;
  line-height: 1.61111em;
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 1em;
}

h1::first-letter,  h2::first-letter,  h3::first-letter,
h4::first-letter,  h5::first-letter, p::first-letter
{
  text-transform: uppercase;
}


a {
  color: #32495b;
  text-decoration: none;
}

a:hover {
  color: #007a8c;
  text-decoration: underline;
}

.link-buttons-orange {
  background-color: #fe775a;
  color: white;
  padding: 25px;
  display: inline-block;
  border-radius: 5px;
}
.link-buttons-orange:hover {
  background-color: #ffbcac;
  text-decoration: none;
  color: white;
}

.left-float {
  float:left;
}

.right-float {
  float: right;
}

.wrap-center {
  margin:auto;
  width: 70%;
}

.background-white {
  background-color: white;
}

footer,section.customers-status, div.service, div.home-page-hero {
  padding: 50px 0;
}

.popolar-feature {
  text-transform: uppercase;
}
div.wrap-service,div.service article, section.community {
  text-align: center;
}

.justify {
  text-align: justify;
}
/*----HEADER----*/
#header-top {
  height: 80px;
  background-color: #f4f9fd;
  border-bottom: 1.5px solid #33475b;
  line-height: 80px;
  vertical-align: middle;
}
.header-top-right > div,.header-top-left > div {
  display: inline-block;
}
/*---header-top-left---*/
.header-top-left {
  height: 100%;
  font-size:0;
}

.header-top-left a {
  width: 130px;
  font-size: 1.125rem;
  display: inline-block;
  line-height: 1.125rem;
  border-right: 2px solid #33475b;
}
.contact-use a {
  border-right: none;
  text-align: right;
}
.page-languages a i.fa-globe {
  margin-right: 5px;
}
div.page-languages a::after {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  color:inherit;
  font-weight: 900;
  font-size: 12px;
  margin-left: 2px;
}
/*---/header-left---*/
/* ----header-right---- */
.header-top-right > div {
  margin-left: 20px;
}
.header-top-right-search i {
  color: #03a7bf;
}
.header-top-right-login a, .header-top-right-getfree a.link-buttons-orange {
  line-height: 40px;
  display: inline-block;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  padding: 0 10px;
}

.header-top-right-login a {
  border: 1px solid #fe775a;
  color:#fe775a;
}

/* ----/header-right---- */
/*----/HEADER----*/
/*---- NAV----*/
nav {
  height: 80px;
  width: 100%;
  /* position: fixed;
  top:80px; */
  position: sticky;
  top:0;
  z-index: 2;
  line-height: 80px;
  vertical-align: middle;
}
.navbar > div {
  display: inline-block;
}
/*----navbar sx---- */
.navbar .logo a {
  display: inline-block;
  line-height: 80px;
  vertical-align: middle;
  transform: translateY(10%);
}
/*----navbar dx---- */
.nav-menu {
  font-size: 0;
}
#items-nav li {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 500;
  text-align:right;
  margin: 0 20px;
}
#items-nav li {
  margin-right: 0;
}
#items-nav li a:not(.not-arrow)::after {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  color:inherit;
  font-weight: 900;
  font-size: 12px;
  margin-left: 30px;
  text-decoration:none;
}
/*----/navbar dx---- */
/*----/NAV----*/
/*---section home page hero--*/
div.home-page-hero {
  height: 700px;
  width: 100vw;
  position: relative;
  background: #FFF4EF
  url("../img/jumbotron.png") no-repeat top right;
}

article.hero-content {
  width: 430px;
  position: relative;
  z-index: 1;
}
p.info{
  margin-top: 30px;
  font-size: .875rem;
  line-height: 1.64286em;
}

.home-page-hero::after {
  content: "";
  height: 90px;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: #afebe4;
  bottom:0;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}
/*---/section home page hero--*/

/*----MAIN----*/
/*---DIV SERVICE--*/
/*---SERVICE--- */
div.service {
  width: 100%;
  background-color: aliceblue;
}

div.wrap-service img, section.conteiner-crm img {
  height: 120px;
  width: 120px;
}

ul.popolar-feature-list {
  list-style: none;
  padding: 0;
}
ul.popolar-feature-list li {
  padding-left: 1.8em;
}
ul.popolar-feature-list li::before {
  content:  "\f058";
  font-weight: 900;
  font-family:  "Font Awesome 5 Free";
  display: inline-block;
  margin-left: -1.8em;
  width: 1.8em;
  color: #fe9a84;
}

/*--integretion-service--*/

article.integretion-service p {
  padding: 0 7%;
}
/*--section crm---*/
section.conteiner-crm {
  width: 100%;
  min-width: 873px;
  height: 350px;
  padding: 5%;
}

.box-left-crm img:first-of-type {
  display: block;
}
.box-right {
  width: 80%;
}
.box-right p {
  width: 100%;
}

.inline {
  display: inline;
}

.inline + hr {
  width: 63%;
  border: 1px solid;
  float: right;
  margin:10px 0;
}

ul.popolar-list-orizontal li {
  margin-right: 40px;
  margin-top: 45px;
}
ul.popolar-list-orizontal li{
  display: inline-block;
}

/*--/section crm---*/
/*-- div contenitore servizi wrap-service--*/
.wrap-service > section {
  height: 100%;
  width:calc((100% - 100px)/3);
  min-width: 190px;
  margin: 50px 25px 0px 25px;
  padding: 30px;
}
.wrap-service > section:first-child {
  margin-left: 0;
}
.wrap-service > section:last-child {
  margin-right:0;
}

div.wrap-service ul {
  text-align: left;
}
div.wrap-service p {
  height: 300px;
  min-width: 158.9px;
  border-bottom: 1px solid black;
}
.wrap-service section > ul {
  margin-bottom:50px;
}
/*--/div contenitore servizi wrap-service--*/
/*---/DIV SERVICE--*/
/*-- SECTION COMUNITY --*/
section.community {
  color: white;
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  padding-top:50px;
  padding-bottom: 100px;
}
div.table-ralation-first-row {
  border-bottom: 2px solid rgba(255,255,255,0.8);
}
div.table-ralation-second-row, div.table-ralation-first-row {
  width: 100%;
  font-size: 0;
}
/* se si utilizza questa soluzione cancellare i fontsize dal  table-ralation-second-row e da div.table-ralation-second-row h2 soluzione più ottimale percheè mi mantine i bordi uguali scrivendo più testo
*
*
div.table-ralation-second-row, div.table-ralation-first-row {
  display: table;
  width: 100%;
} */
div.table-ralation-second-row h2, div.table-ralation-first-row h2 {
  font-size: 1.975rem;
}
div.table-relation-box:last-child{
  border: none;
}
div.table-relation-box {
  width: calc(100%/4);
  display: inline-block;
  border-right:2px solid rgba(255,255,255,0.5);
  padding-top: 40px;
}
/* div.table-relation-box {
  border-right:2px solid rgba(255,255,255,0.5);
  width: calc(100%/4);
  padding-top: 40px;
  display: table-cell;
}
       */

.table-relation-box p {
  font-size: 0.8rem;
}
.table-relation-box p.uppercase-1th::first-letter {
  text-transform: uppercase;
}
.table-relation-box p::first-letter {
  text-transform: lowercase;
}
.table-relation-box h2::after {
  content:"\002B";
  font-size: 1.405rem;
  font-weight:500;
  margin-left: 2px;
}
img.resize-img {
  width: 140px;
  vertical-align: middle;


}
/*--/SECTION COMUNITY-- */
/*--SECTION COSTUMERS STATUS--*/
.customers-status-top {
  padding: 0 10%;
}
div.customers-status-bottom > div, div.customers-status-top > div {
  display: inline-block;
}
.image-team img {
  width: 280px;
}

.customers-status-top img {
  width: 90px;
  margin: 20px;
  vertical-align:middle;
}

.customers-status-top-sx {
  width: 20%;
}

.customers-status-bottom {
  margin-top: 80px;
}
.start-growing {
  width: 50%;
}
/*--/SECTION CUSTOMERS STATUS--*/
/*----/MAIN----*/
/*---FOOTER---*/
footer {
  background-color: #2d3e50;
  font-size: 0;
  color: white;
}

footer a {
  color: #cbd6e2;
  font-size: .9125rem;
}
.footer-cl {
  display: inline-block;
  width: calc((100% - 20px) / 4);
  margin-right:5px;
  vertical-align: top;
}
.footer-cl ul {
  list-style: none;
}
.footer-cl ul li {
  margin-bottom: 1.0125rem;
}
.footer-cl ul li:first-child {
  font-weight: bold;
  font-size: .9525rem;
  margin-bottom: 1.5555rem;
}
a.link-support {
  line-height: 40px;
  padding: 10px;
  background-color: #dadee0;
  border-radius: 5px;
  color: black;
}

.social-icon-bar {
  font-size: 20px;
  width: 100%
}
.social-icon-bar i {
  margin-right: 6%;
  color: #cbd6e2;
}

#footer-bottom ul {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}
#footer-bottom ul li{
  display: inline-block;
  margin-left: 40px;
}

.copyright {
  padding-top: 50px;
  border-top: 1px solid white;
}

#footer-bottom a.right-float {
  margin-right: 20px;
  line-height: 33px;
}

.footerlogo {
  display: inline-block;
}
/*---/FOOTER---*/
/*---widget---*/
.widget {
  position: fixed;
  right: 0;
  bottom: 2%;
  z-index: 3;
  padding-right:15px;

}
.welcome-chat img {
  width: 50px;
  position: absolute;
  right: 50%;
  transform: translate(50% , 0);
  top: -15%;
}
.schedule, #chat {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px, rgba(0, 0, 0, 0.2) 0px 2px 24px;
}

.schedule {
  padding: 5px 10px 15px 10px;
  background-color: white;
  border-radius: 3px;
}

.welcome-chat p{
  font-size: 14px;
  color: rgb(66, 91, 118);
}

#chat {
  height: 50px;
  width: 50px;
  background-color: rgb(66, 91, 118);
  color:white;
  border-radius: 25px;
  margin-top:20px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-size: 23px;

}

.schedule::before {
  width: 100%;
  text-align: right;
  display: block;
  font-family: "Font Awesome 5 Free";
  content: "\f00d";
  color:inherit;
  font-weight: 600;
  font-size: 18px;
  float: right;
  margin: 5px;
  vertical-align:
}
